<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atlasv.android.mediacodecdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaCodecDemo">
        <activity
            android:name="com.atlasv.android.mediacodec.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MediaCodecDemo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.atlasv.android.mediacodec.mediacodec.VideoActivity" />
        <activity android:name="com.atlasv.android.mediacodec.surfacetexture.VideoActivity2" />
        <activity android:name="com.atlasv.android.mediacodec.surfacetexture.VideoActivity3" />
        <activity android:name="com.atlasv.android.mediacodec.surfacetexture.VideoActivity4" />
        <activity android:name="com.atlasv.android.mediacodec.surfacetexture2.NavigatorActivity" />
        <activity android:name="com.atlasv.android.mediacodec.surfacetexture2.NativeMediaActivity" />
        <activity android:name="com.atlasv.android.mediacodec.surfacetexture2.GLViewMediaActivity" />
        <activity android:name="com.atlasv.android.mediacodec.surfacetexture2.texture.TextureViewMediaActivity" />
    </application>

</manifest>